SENTRY_POSTGRES_HOST=10.5.0.4
SENTRY_POSTGRES_PORT=5432
SENTRY_DB_USER=postgres
SENTRY_DB_PASSWORD=postgres
SENTRY_DB_NAME=sentry
SENTRY_REDIS_HOST=10.5.0.5
SENTRY_REDIS_PORT=6379
SENTRY_SECRET_KEY=***YOUR_SECRET_KEY***
